<h2 class="text-xl mb-3">Your Scribbles</h2>

<%= turbo_frame_tag "new_scribble", src: new_scribble_path, class: "mb-5" %>

<% if @scribbles.empty? %>
  <p>No Scribbles here...</p>
<% else %>
  <%= turbo_frame_tag "all_scribbles", class: "flex flex-col mx-5 border-t-2 border-stone-900" do %>
    <%= render @scribbles %>
  <% end %>

  <div id="load_more_scribbles_button" class="mt-6">
    <%= button_to "Load More", pagy_url_for(@pagy, @pagy.next), class: "bg-cyan-700 text-white font-bold py-2 px-4 rounded hover:scale-105 transition ease-in-out duration-200" %>
  </div>
<% end %>
