
<h2 class="text-xl mb-3">Your Scribbles</h2>

<%= turbo_frame_tag "new_scribble", src: new_scribble_path, class: "mb-5" %>

<% if @scribbles.empty? %>
  <p>No Scribbles here...</p>
<% else %>
  <%= turbo_frame_tag "all_scribbles", class: "flex flex-col mx-5 border-t-2 border-stone-900" do %>
    <%= render @scribbles %>
  <% end %>
<% end %>

<%= link_to "New Scribble", new_scribble_path,
    class: "bg-emerald-600 text-gray-100 rounded-md p-3 mt-3 transform hover:scale-105 transition ease-in-out duration-200"
%>
