<footer class="m-5 text-center text-xs sticky bottom-0">
  Crafted by <a href="https://saaliklok.com">Saalik Lokhandwala</a>.
  Open Source.
  Powered by flashes of inspiration and your generosity.  
</footer>
