<footer class="m-5 text-center text-xs">
  <p>
    Crafted by 
    <a href="https://saaliklok.com" target="_blank" class="underline">Saalik Lokhandwala</a>.
    <a href="http://github.com/saaliklok/scribble-place" class="underline">Open Source.</a>
  </p>
  <p>Powered by flashes of inspiration.</p>
</footer>
