<footer class="m-5 text-center text-xs">
  <p>
    Crafted by 
    <a href="https://saaliklok.com">Saalik Lokhandwala</a>.
    Open Source.
  </p>
  <p>Powered by flashes of inspiration and your generosity.</p>
</footer>
