<div class="flex flex-wrap justify-around items-center mb-5">
  <%= image_tag "scribble_logo.png", class: "max-w-sm self-center" %>
  <div class="text-lg">
    <p>A place to collect</p>
    <p>A place to craft</p>
    <p>A place to scribble.</p>
  </div>
</div>

<section class="flex flex-col gap-4 text-left">
  <div>  
    <h4 class="text-2xl">What is this?</h4>
    <p class="text-lg">A private space online to capture thoughts, ideas, and anything in between. It has the privacy of a journal, but is meant for short tweet-like bites of text. It's not a social network -- your thoughts here are totally yours.</p>
  </div>
  <div>
    <h4 class="text-2xl">How did it come about?</h4>
    <p class="text-lg">Read <a class="underline" href="https://open.substack.com/pub/thespoonful/p/private-thinking-nooks?r=2brp10&utm_campaign=post&utm_medium=web" target="_blank" rel="noopener noreferrer">Scribble's story</a> to learn more about the motivation and journey behind it.</p>
  </div>
  <div>  
    <h4 class="text-2xl">Is there a mobile app?</h4>
    <p class="text-lg">Scribble is a website (for now). It's optimized for your browser on mobile too, though. You can bookmark it on your phone for easy access.</p>
  </div>
  <div>  
    <h4 class="text-2xl">Is it free?</h4>
    <p class="text-lg">You bet. I consider this little app to be a gift, and I want anyone who likes it to use it.</p>
  </div>
  <div>
    <h4 class="text-2xl">Will it always be free?</h4>
    <p class="text-lg">That's my intention! I may consider charging a small one-time download fee for a mobile app to offset server maintenence. No mobile development has started yet though!</p>
  </div>
  <div>  
    <h4 class="text-2xl">Can I upload images?</h4>
    <p class="text-lg">Scribbles are intentionally text-only. Freedom comes from constraints.</p>
  </div>
  <div>  
    <h4 class="text-2xl">Who builds this?</h4>
    <p class="text-lg">👋 I'm <a class="underline" href="https://saaliklok.com">Saalik</a>, a builder, writer, and scribbler. If you want to get in touch, reach me on Twitter (<a class="underline" href="http://twitter.com/saaliklok" target="_blank" rel="noopener noreferrer">@saaliklok</a>) or at saalik@thespoonful.dev</p>
  </div>
</section>

<%= link_to "Start Scribbling", new_scribble_path, 
  class: "bg-cyan-700 text-gray-100 rounded-md p-3 mt-3 transform hover:scale-105 transition ease-in-out duration-200" 
%>

<%= render partial: "homes/footer" %>
