<div class="flex flex-wrap justify-around items-center mb-5">
  <%= image_tag "scribble_logo.png", class: "max-w-sm self-center" %>
  <div class="text-lg">
    <p>A place to collect</p>
    <p>A place to craft</p>
    <p>A place to scribble.</p>
  </div>
</div>

<section class="flex flex-col gap-4 text-left">
  <div>  
    <h4 class="text-2xl">What is this?</h4>
    <p class="text-lg">A private space online to capture thoughts, ideas, and anything in between. It has the privacy of a journal, but is meant for short tweet-like bites of text. It's not a social network -- your thoughts here are totally yours.</p>
  </div>
  <div>  
    <h4 class="text-2xl">Is there a mobile app?</h4>
    <p class="text-lg">Scribble is a website (and might stay that way for a while), but it's optimized for your browser on mobile, too. You can bookmark it on your phone for easy access.</p>
  </div>
  <div>  
    <h4 class="text-2xl">Is it free?</h4>
    <p class="text-lg">You bet. I consider this little app to be a gift, and crafting it is a labor of love. If you have found it to be delightful, I'd love to hear from you. Reach out to me on <a href="http://twitter.com/saaliklok" target="_blank">Twitter</a> or email, saalik@thespoonful.dev!</p>
  </div>
  <div>  
    <h4 class="text-2xl">Can I upload images?</h4>
    <p class="text-lg">Scribbles are intentionally text-only. Freedom comes from constraints.</p>
  </div>
  <div>  
    <h4 class="text-2xl">Who builds this?</h4>
    <p class="text-lg">👋 I'm <a class="underline" href="https://saaliklok.com">Saalik</a>, a builder, writer, and scribbler. If you want to get in touch, reach me at saalik@thespoonful.dev</p>
  </div>
</section>

<%= link_to "Start Scribbling", new_scribble_path, 
  class: "bg-cyan-700 text-gray-100 rounded-md p-3 mt-3 transform hover:scale-105 transition ease-in-out duration-200" 
%>
