<section class="text-center">
  <h1>Scribble Place</h1>

  <%= image_tag "scribble_logo" %>

  <p>A place to write</p>
  <p>A place to read</p>
  <p>A place to scribble</p>
  <p>A place to be</p>
</section>
